MARKLOGIC_ADMIN_USERNAME=marklogic_admin_username
MARKLOGIC_ADMIN_PASSWORD=marklogic_admin_password
MARKLOGIC_SEMAPHORE_DATABASE=semaphore_database

SEMAPHORE_SUPER_ADMINISTRATOR_PASSWORD=semaphore_super_admin_password

EXT_STUDIO_5080=5080
EXT_STUDIO_5081=5081
EXT_CLS_5058=5058
EXT_CLS_5059=5059
EXT_SES_8983=8983
EXT_SES_9983=9983
EXT_CONCEPTS_5092=5092

RPM_SOURCE=PRIVATE_REPO # LOCAL (Semaphore_RPMs/) or PRIVATE_REPO (use keys in yum/)
SEM_VER_LP_BASE=5.8.0
SEM_VER_LP_ENGLISH=5.8.0
SEM_VER_CLASSIFICATION=5.10.3
SEM_VER_SES=5.10.3
SEM_VER_CONCEPTS=5.10.3
SEM_VER_STUDIO=5.10.3